# IDEs
.vscode/

# Build artifacts
build/

# Config files (exclude config*.json except config.json)
config_*.json
currentConfig.json
defaultConfig.json
memopt-config.json

# Other JSON files to ignore
*Plan*.json

# Artifacts
*.dot
*.z3-trace
*.in
*.out
debug/

# Temporary directories
debug_base/
debug_tile_16/
graph/
graph_info/
graph_info_lu/
