# IDEs
.vscode/

# Build artifacts
build/

# Config and JSON files
config.json
currentConfig.json
defaultConfig.json
*.json

# Artifacts
*Plan*.json
*.dot
*.z3-trace
*.in
*.out
debug/

# Temporary directories
debug_base/
debug_tile_16/
graph/
graph_info/
graph_info_lu/
